<h1>Login</h1>

<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div>
            <%= form_for :user do |f|  %>
              <%= f.text_field :email, placeholder: "Enter your email" %>
              <%= f.password_field :password, placeholder: "Enter your password" %>
              <%= f.submit "Login" %>
            <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>