<div class='voting'>
<%= link_to '<span class="glyphicon glyphicon-arrow-up"></span>'.html_safe, post_upvote_path(post), :method => :post %>
<strong><%= comment.content.inject(0) {|sum, v| sum + v.value } %></strong>
<%= link_to '<span class="glyphicon glyphicon-arrow-down"></span>'.html_safe, post_downvote_path(post), :method => :post %>
</div>

<!-- not sure how to make this functional 
1st correct path above you have post_upvote_pat what would i need for comments?
then above you have post.votes.inject(0) would that instead be comment.content instead? -->