<div id="Landing">
	<div class="container-fluid landingContainer">
		<h1>WELCOME! TO JT-WORLD-WIDE</h1>
		<h4>Please Login/Signup</h4>
		<button type="button" class="btn btn-info"><a href="/home">GET STARTED</a></button>
	</div>
</div>
