<div id="Landing">
	<div class="container-fluid landingContainer">
		<h1>Welcome To JT-Worldwide</h1>
		<h3>The Front Page of the Internet</h3>
		<h4>login/signup for the best experience</h4>
		<button type="button" class="btn btn-primary"><a href="/home">Check It Out</a></button>
	</div>
</div>
