<h1>Posts</h1>
<p>These are the posts:</p>

<%if @current_user %>
<%= @current_user.email %> logged in 
<% end %>

<div>
<% @posts.each do |post| %>
<%= post.title %>
<%= post.link %>
<% end %>
</div>

