<h1>Create Post</h1>

<%=	form_for @post do |p| %>
	<%= p.text_field :title, placeholder: "Enter title" %>
	<%=	p.text_field :link, placeholder: "Enter link" %>
	<%=	p.submit "Create Post" %>
<%	end %>