<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h1 class="text-center">Hackernews Clone</h1>

 <a href="/login" class="btn btn-primary">Login</a>
 <a href="/logout" class="btn btn-warning">Logout</a>
 <a href="/signup" class="btn btn-success">Sign Up</a>
</div>
</div>