<!-- <h1>Post#index</h1>
<p>Find me in app/views/post/index.html.erb</p>
 -->
<h1>All da posts</h1>

<% if @posts.length == 0 %>
  <p>There are no posts yet! Maybe you should<a href="post/new"> make one</a>...</p>

<%else%>

  <ul class="list-group">
    <% @posts.each do |p|%>
      <li class="list-group-item">
        <a href="/post/<%= p.id %>"><%= p.name %></a>
        <p><%= p.user %></p>
      </li> 
    <%end%>   
  </ul>

<% end %>