<div class="text-center">
  <h1>Edit My Info</h1>
  <div class="container text-left">
    <%= bootstrap_form_for :user do |p| %>
      <%= p.primary "Submit", class: 'btn default-btn' %>
      <a href="/users/show" class="btn default-btn">Go back</a> 
    <% end %>
  </div>
</div>
