<h1>Hacker news clone</h1>
<!-- Find me in app/views/posts/index.html.erb -->

<%= link_to('Singup', signup_path) %>
<%= link_to('Login', login_path) %>
<%= link_to('Logout', logout_path, method: :delete) %>
<%= link_to('Create Post', posts_path) %>
