<div class="page-header">
	<h1>!Pokemon</h1> <large>Your source for anti-Pokemon news</large>
</div>

<% @posts.each do |post| %>
	<div class="well">
		<h2><a href="<%= post.link %>" target="_blank"><%= post.title %></a></h2>
		<p>Posted by <%= post.user.name %></p>
	</div>
<% end %>