<h1>Posts#new</h1>

<%= form_for :post, action:"/posts/new", method:"POST" do |f| %>
 
<div>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.text_field :link %>
</div>
  <%= f.submit  %>

<% end %>
