/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {

}

.navbar {
  background-color: #FF6103;
  color: black;
  min-height: 12px !important;
  max-height: 25px !important;
  margin-bottom: 0px !important;
  padding-top: 4px;
}

.navbar ul li {
  display: inline;
  list-style: none;
  padding: 0px 5px 0px 5px;
}

.form ul li {
  list-style: none;
  padding: 0px 5px 0px 5px;
}

.navbar ul li:last-child {
  float:right;
}

 a:link {color: black;}
 a:visited {color: black;}
 a:hover {color: black;}
 a:active {color: white;} 

 ol {
  background-color: #EDEDED;
  padding-top: 5px;
 }

.smaller {
  color: dimgrey;
  font-size: 11px;
}

p {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

div .login {
  padding-top: 30px;
  padding-bottom: 30px;
}