// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
	background-color: gray;
}

header {
	margin-top: 2%;
}

header h1 {
	display: inline;
	float: left;
	margin-left: 10%;
}

header a {
	float: right;
}

h2 {
	clear: both;
}


.login {
	margin-right: 10%;
	margin-left: 3%;
}

.well {
	max-width: 80%;
	margin: 10px auto;
}