// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
	background-color: #262626;
}

header h1 {
	color: white;
	display: inline;
	float: left;
	margin-left: 10%;
	margin-bottom: 20px;
}

.title {
	margin: 0;
	text-decoration: none;
	color: #6666ff;
	text-shadow: 0 0 5px #6666ff, 0 0 10px #6666ff, 0 0 20px #0000cc, 0 0 30px #0000cc, 0 0 40px #0000cc, 0 0 55px 			  #0000cc, 0 0 75px #0000cc;
}

header a {
	float: right;
	margin-top: 20px;
}

h2 {
	color: white;
	clear: both;
}

.welcome {
	color: white;
	display: block;
	clear: both;
}


.login {
	margin-right: 10%;
	margin-left: 3%;
}

.logout {
	float: right;
	margin: 25px 10% 0 3%;
}

.well {
	clear: both;
	max-width: 80%;
	margin: 30px auto;
	background-color: #a6a6a6;
	box-shadow: 0px 0px 18px 7px rgba(4, 214, 42, 0.5);
	padding-bottom: 4%;
}

.well h3 {
	font-size: 2em;
	color: #00ff00;
	text-shadow: 0 0 3px #00ff00, 0 0 6px #00ff00, 0 0 10px #008000, 0 0 12px #008000, 0 0 20px #008000, 0 0 26px 			  #008000, 0 0 35px #008000;
}

.well h3:hover {
	text-decoration: none;
}

.collapse {
	margin-top: 2%;
}

.collapseBtn {
	margin-bottom: 2%;
}

.upvoteForm{
	float: right;
	margin-top: 50px;
	margin-right: 10%;
}
.downvoteForm{
	float: left;
	margin-top: 50px;
	margin-left: 10%;
}

.delete {
	display: block;
	margin: 0 auto 2%;
	max-width:80px;
}

.profileBtn {
	margin-top: 25px;
	float: right;
	margin-right: 0;
}

.profileLink {
	text-decoration: none;
	color: white;
	margin: 0;
}

.btn-primary a {
	color: white;
}

.down-voted {
	background-color: rgba(255, 5, 7, 0.5);
	box-shadow: 0 0 5px #f73707, 0 0 10px #f73707, 0 0 20px #c90202, 0 0 30px #c90202, 0 0 40px #c90202, 0 0 55px 			  #c90202, 0 0 75px #c90202;
}

.up-voted {
	background-color:rgba(102, 179, 255, 0.5);
	box-shadow: 0 0 5px #6666ff, 0 0 10px #6666ff, 0 0 20px #0000cc, 0 0 30px #0000cc, 0 0 40px #0000cc, 0 0 55px 			  #0000cc, 0 0 75px #0000cc;
}