#Landing {
    background: image_url('landing.jpeg');
    background-size: cover; 
    height: 700px;
    top:0px;
    margin-top: 0px; 
    min-height: 700px;
    padding-top: 8%;
    top: 0px;
    text-align: center;
    color: white;
}

#Landing .landingContainer{
	background: rgba(0,0,0,.7);
	border: 2px solid white;
	margin: 10% auto;
	width: 60%;
	padding-bottom: 3%;
}
